.face{
    height: 300px;
    width: 300px;
    border-radius: 300px;
    margin-left: 150px;
    background-color:rgb(14, 248, 92);
    position: relative;
}
.eye1{height: 75px;
    width: 75px;
    border-radius: 150px;
    margin-left: 150px;
    margin-top: 78px;
    background-color:white;
    position: absolute;
}
.eye2{ height: 75px;
    width: 75px;
    border-radius: 150px;
    margin-left: 60px;
    margin-top: 78px;
    background-color:white;
    position: absolute;
}
.mouth{height: 45px;
    width: 150px;
    border-radius: 150px;
    background-color:aliceblue;
    margin-top: 198px;
    margin-left: 72px;
    position: absolute;

}
.teeth1{height: 24px;
        width: 24px;
        background-color:chocolate;
        position: absolute;
        margin-top: 210px;
        margin-left: 150px;
}
.teeth2{height: 24px;
    width: 24px;
    background-color:chocolate;
    position: absolute;
    margin-top: 210px;
    margin-left: 120px;
}   
    .eyee1{height: 30px;
    width: 30px;
    border-radius: 60px;
    margin-left: 21px;
    margin-top: 24px;
    background-color:black;
    position: absolute;}
.eyee2{height: 30px;
        width: 30px;
        border-radius: 60px;
        margin-left: 21px;
        margin-top: 24px;
        background-color:black;
        position: absolute;}
.eyebrow1{height: 15px;
            width: 70px;
            border-radius: 50px;
            background-color:blue;
            margin-top: 1px;
            margin-left: 14px;
                position: absolute;}
